body {
	font-family: 'Nunito', sans-serif;
}

body, html {
	/* Disables pull-to-refresh */
	overscroll-behavior-y: none;
}

input[type=range] {
	cursor: col-resize;
}

.row {
	margin-top: 40px;
}

.input-group-addon:last-child {
	width: 35%;
}

.chart-group-container {
	position: relative;
	width: 100%;
	height: 100px;
}

.chart-container {
	width: 100%;
	height: 100%;
}

.chart-container .column {
	float: left;
	height: 100%;
	background: #efefef;
	box-sizing: bounding-box;
	border-right: 1px solid #ffffff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.chart-container .column-value {
	float: left;
	width: 100%;
	background: #ffffff;
}

/* Slider styles */

input[type=range] {
	-webkit-appearance: none;
	width: calc(100% + 32px);
	margin-left: -16px;
	background: transparent;
	padding-bottom: 20px;
	position: absolute;
	bottom: 0;
    margin-bottom: -20px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent; 
	border-color: transparent;
	color: transparent;
}

/* Thumb */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 0;
	margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #bcd900;
	background: transparent;
	border-radius: 0;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	border: 0;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #bcd900;
	background: transparent;
	border-radius: 0;
	padding-top: 13px;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	border: 0;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #bcd900;
	background: transparent;
	border-radius: 0;
	margin-top: 4px;
}

/* Track */

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0px;
	cursor: col-resize;
	background: #cecece;
	border-radius: 1.3px;
	border: 0;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 0px;
	cursor: col-resize;
	background: #cecece;
	border-radius: 1.3px;
	border: 0;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 0px;
	cursor: col-resize;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #cecece;
	border: 0;
	border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
	background: #cecece;
	border: 0;
	border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #cecece;
}
input[type=range]:focus::-ms-fill-upper {
	background: #cecece;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #cecece;
}
input[type=range]:focus::-moz-range-track {
	background: #cecece;
}

/*****************/
