/* 
	Theme-color-light: 82b974
	Theme-color-dark: 56a243
*/

body {
	font-family: 'Nunito', sans-serif;
}

.main-container {
	padding-top: 72px;
}

.sub-section {
	margin-top: 15px;
	border-top: 1px solid #ddd
}
.sub-section h4 {
	color: #56a243;
}
.sub-section:first-child {
	border-top: 0;
}

#top-values {
	left: 0;
	right: 0;
	z-index: 99;
	height: 67px;
	top: 0;
	position: fixed;
}
#top-values>div {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	height: 100%;
}

.graph-row>div {
	height: 164px;
}

.key-input {
    position: absolute;
    bottom: 40px;
    left: 15px;
    right: 15px;
}

.chart-group-container {
	position: relative;
	width: 90%;
	height: 140px;
	margin: 5%;
	margin-top: 24px;
	cursor: col-resize;
}

.chart-container {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #e2e2e2;
}

.chart-container .column {
	float: left;
	height: 100%;
	background: #ffffff;
	border-right: 1px solid #ffffff;
	position: relative;
}

.chart-container .column.active .column-value {
	background: #82b974;
}

.chart-container .column-value {
	width: 100%;
	background: #e1e1e1;
	position: absolute;
	bottom: 0;
}

.chart-container .column-value-display,
.chart-container .column-value-display-terminal {
	display: none;
	position: absolute;
	z-index: 1;
	width: 100px;
	text-align: center;
	left: 50%;
	margin-left: -50px;
}
.chart-container .column-value-display-terminal {
	display: block;
}
.chart-container .column.active .column-value-display-terminal {
	display: none;
}
.chart-container .column.active .column-value-display {
	display: block;
}
.chart-container .column.adjacent .column-value-display-terminal {
	display: none;
}

.input-value-display {
	position: absolute;
	bottom: 0;
	width: auto;
	height: 24px;
	padding: 3px 16px;
	white-space: nowrap;
}

input[type=range] {
	display:none;
}

.slider-container {
	width: 100%;
	height: 40px;
	position: absolute;
	z-index: 1;
}

.slider-track {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider-thumb {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #82b974;
	top: 1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

