/* 
	Theme-color-light: 82b974
	Theme-color-dark: 56a243
*/

body {
	font-family: 'Nunito', sans-serif;
}

body, html {
	/* Disables pull-to-refresh */
	overscroll-behavior-y: none;
}

input[type=range] {
	cursor: col-resize;
}

.main-container {
	padding-top: 72px;
}

.sub-section {
	margin-top: 15px;
	border-top: 1px solid #ddd
}
.sub-section h4 {
	color: #56a243;
}
.sub-section:first-child {
	border-top: 0;
}

#top-values {
	left: 0;
	right: 0;
	z-index: 99;
	height: 67px;
	top: 0;
	position: fixed;
}
#top-values>div {
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.graph-row>div {
	height: 164px;
}

.key-input {
    position: absolute;
    bottom: 40px;
    left: 15px;
    right: 15px;
}

.chart-group-container {
	position: relative;
	width: 90%;
	height: 140px;
	margin: 5%;
	margin-top: 24px;
}

.chart-container {
	width: 100%;
	height: 100px;
}

.chart-container .column {
	float: left;
	height: 100%;
	background: #ffffff;
	border-right: 1px solid #ffffff;
	position: relative;
	cursor: pointer;
}

.chart-container .column.active .column-value {
	background: #82b974;
}

.chart-container .column-value {
	width: 100%;
	background: #e1e1e1;
	position: absolute;
	bottom: 0;
}

.chart-container .column-value-display,
.chart-container .column-value-display-terminal {
	display: none;
	position: absolute;
	z-index: 1;
	width: 100px;
	text-align: center;
	left: 50%;
	margin-left: -50px;
}
.chart-container .column-value-display-terminal {
	display: block;
}
.chart-container .column.active .column-value-display-terminal {
	display: none;
}
.chart-container .column.active .column-value-display {
	display: block;
}
.chart-container .column.adjacent .column-value-display-terminal {
	display: none;
}

.input-value-display {
	position: absolute;
	bottom: 0;
	width: auto;
	height: 24px;
	padding: 3px 16px;
	white-space: nowrap;
}

/* Slider styles */

input[type=range] {
	-webkit-appearance: none;
	width: calc(100% + 32px);
	margin-left: -16px;
	background: transparent;
	padding-bottom: 40px;
	position: absolute;
	bottom: -1px;
	z-index: 1;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;

	/* Hides the slider so custom styles can be added */
	background: transparent; 
	border-color: transparent;
	color: transparent;
}

/* Thumb */

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 0;
	margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #82b974;
	background: transparent;
	border-radius: 0;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	border: 0;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #82b974;
	background: transparent;
	border-radius: 0;
	padding-top: 13px;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	border: 0;
	width: 0; 
	height: 0; 
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #82b974;
	background: transparent;
	border-radius: 0;
	margin-top: 4px;
}

/* Track */

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 0px;
	cursor: col-resize;
	background: #cecece;
	border-radius: 1.3px;
	border: 0;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 0px;
	cursor: col-resize;
	background: #cecece;
	border-radius: 1.3px;
	border: 0;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 0px;
	cursor: col-resize;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #cecece;
	border: 0;
	border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
	background: #cecece;
	border: 0;
	border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-lower {
	background: #cecece;
}
input[type=range]:focus::-ms-fill-upper {
	background: #cecece;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #cecece;
}
input[type=range]:focus::-moz-range-track {
	background: #cecece;
}

/*****************/
